<app-form></app-form>


<!-- the heading -->

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="header">
    
                <!-- image -->
                <div class="card">
                    <div class="card-body">
                        <div >
                            <div class="image" style="width:100%; text-align:center">
                              <img src="{{data.avatar_url}}" alt="">
                            </div>
                            <p class="name"><u> {{data.name}} </u></p>
                          </div>
                    </div>
                  </div>
                
        
                <!-- Repo Inforamation -->
                <div class="card repo">
                    <div class="card-body">
                        <div class="repo">
                            <p>Username:{{data.login}}</p>
                            <p>Location:{{data.location}}</p>
                            <p>Bio: {{data.bio}}</p>
                          </div>
                    </div>
                  </div>
                
               
            </div>
            <hr>

            <!-- main body -->
            <div class="body" *ngFor = "let repo of repo"> 
   
                <p>{{repo.name}}</p>
                <p>{{repo.description}}</p>
                <p>{{repo.created_at | date}}</p>
                <p><a href="{{repo.html_url}}"> Visit the Repo</a> </p>
              
            </div>
            
        </div>
      </div>


      

            
      
            


    
</div>

