.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    columns:500px 2;
    
}

/* #myDIV {
    
    columns: 2;
  } */
/* .Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}  */

.cardd {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    /* margin: auto;
    text-align: center; */
    font-family: arial;
  }
  
  .cardd:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .containerr {
    padding: 2px 16px;
  }

.myImage{
    margin-left: 100px;
    
}

.header{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.repo{
    
    margin-right: 200px;
    padding: 20px ;
}


.body{
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 3px;
    /* height: 50%; */
    width: 40%; 
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    padding: 40px;
    gap: 10px;
    background-image: url(https://s.cdpn.io/44759/Wood-Backgrounds-Picture.jpg);
}
.repoHead{
    
    text-align: center;
    font-size: 30px;

}
.card1{
    
    align-items: center;
    background-color: #00ccff;
  animation-name: example;
  animation-duration: 4s;
  
    
}

@keyframes example {
    0%   {background-color: blue;}
    5%  {background-color: #00ccff;}
    10%  {background-color: blue;}
    15% {background-color: #00ccff;}
    20%   {background-color: blue;}
    25%  {background-color: #00ccff;}
    30%  {background-color: blue;}
    35% {background-color: #00ccff;}
    40%   {background-color: blue;}
    45%  {background-color: #00ccff;}
    50%  {background-color: blue;}
    55% {background-color: #00ccff;}
    60%   {background-color: blue;}
    65%  {background-color: #00ccff;}
    70%  {background-color: blue;}
    75% {background-color: #00ccff;}
    80%  {background-color: blue;}
    85%  {background-color: #00ccff;}
    90% {background-color: blue;}
    95%  {background-color: #00ccff;}
    100% {background-color: blue;}
    
    
  }
.card2{
   
    align-items: center;
    width: 80%;
    margin-left: 40px;
    margin-top: -10px;
}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 100px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 40%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    align-items: center;
    margin-left: 20px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(360deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    font-size: 20px;
    transform: rotateY(180deg);
  }

